*{margin:0;padding:0;}
.bgimg {background:
linear-gradient(#00000063,#00000063), linear-gradient(#00000063,#00000063), url(funny-team-names.jpeg);
    red: ;background-repeat:no-repeat;
url(funny-team-names.jpeg);
red;color:white;height: 620px;text-align:center;background-size:cover;position:left top;font-family:arial black;}
.bgimg h1{line-height: 13px;
    margin-top: 0px;
    padding: 197px;
    margin-bottom: -378px;
}